.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  font-family: "forma-djr-cyrillic-deck", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1473E6;
  position: relative;
  z-index: 0;
}

.paddingContainer{
  width: 100vw;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  place-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  place-items: center;
  overflow: hidden;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 75px;
}

@media (max-width: 767px) {
  .content{
      width: 80%;
  }

  h1{
      font-size: 1.5rem;
  }

  p{
      font-size: .75rem;
  }
  img{
      display: none;
      visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content{
      width: 80%;
  }

  h1{
      font-size: 2rem;
  }

  p{
      font-size: 1rem;
  }

  img{
      max-width: 250px;
      max-height: 250px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content{
      width: 70%;
  }

  h1{
      font-size: 2rem;
  }

  p{
      font-size: 1rem;
  }

  img{
      max-width: 300px;
      max-height: 300px;
  }
}

@media (min-width: 1280px) and (max-width: 1619px) {
  .content{
      width: 60%;
  }
}

@media (min-width: 1620px){
  .content{
      width: 50%;
  }
}