/*****************************************************
            ROOT STYLES  
*****************************************************/
:root {
    --pageColorIntegrations: #DA7A30;
    --pageColorSamples: #5000CA;
    --pageColorTools: #449947;
    --pageColorSearch: #E84F47;
    --pageColorFeatures: #56BDDF;
    --sectionColorIntegrations: rgba(218, 122, 48, 0.3);
    --sectionColorSamples: rgba(80, 0, 202, 0.3);
    --sectionColorTools: rgba(68, 153, 71, 0.3);
  }

/*****************************************************
                FEATURE PAGE STYLES  
*****************************************************/
.pageBackgroundContainer{
    width: 100vw;
    height: 100%;
    background-color: white;
}

.pageBackgroundContainer p{
    text-shadow: none;
}

.pageBackgroundContainer h1{
    color: white;
    text-shadow: none;
}

.backgroundPageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: #343434;
    justify-content: center;
}

.backgroundPageSection .title{
    margin-top: 75px;
}

.intro{
    height: 40vh;
}

.pageColor {
    background-color: var(--pageColor);
}


/*****************************************************
                SVG STYLES  
*****************************************************/
.featureTopWave{
    background-image: url("../../assets/images/featureTopWave.svg");
    width: 100vw;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--pageColor);
}

.featureBottomWave{
    background-image: url("../../assets/images/featureBottomWave.svg");
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--pageColor);
}
