/*****************************************************
                HOMEPAGE GLOBAL STYLES  
*****************************************************/
.container{
    width: 100vw;
    position: relative;
    color: white;
}

.containerInner {
    max-width: 1200px;
    margin: 0 auto;
  }


span{
    color: #FFC55A;
}

p{
    font-size: 20px;
}

.centerDiv{
    margin: auto;
    padding: 10px;
}

h4{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

p{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);;
}

img{
    width: 350px;
    height: 350px;
}

/*****************************************************
                WAVE STYLES  
*****************************************************/
.svgTop{
    background-image: url("../../assets/images/topWave.svg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.svgBottom{
    background-image: url("../../assets/images/bottomWave.svg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/*****************************************************
                SPLASH STYLES
*****************************************************/
.splashGridContainer{
    padding: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: left;
    grid-template-areas:
        "section img";
}

.splashSectionFlex{
    display: flex;
    flex-direction: column;
    grid-area: section;
    transform: translateX(-200px);
    opacity: 0;
}

.splashImgFlex{
    display: flex;
    flex-direction: column;
    grid-area: img;
    margin-left: 100px;
    transform: translateX(200px);
    opacity: 0;
}

.splashSectionFlexEnter{    
    display: flex;
    flex-direction: column;
    grid-area: section;
    transform: translateX(0);
    opacity: 1;
    transition: all 1s ease-in-out;
}

.splashImgFlexEnter{
    display: flex;
    flex-direction: column;
    grid-area: img;
    margin-left: 100px;
    transform: translateX(0);
    opacity: 1;
    transition: all 1s ease-in-out;
}



/*****************************************************
                SPOTLIGHT STYLE
*****************************************************/
.spotlightContainer{
    padding: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: left;
    grid-template-areas:
        "img section"
}

.buttonRight{
    margin-left: auto;
}

.spotlightSectionFlex{
    display: flex;
    flex-direction: column;
    grid-area: section;
    transform: translateX(200px);
    opacity: 0;
}

.spotlightImgFlex{
    display: flex;
    flex-direction: column;
    grid-area: img;
    margin-right: 100px;
    transform: translateX(-200px);
    opacity: 0;
}

.spotlightSectionFlexEnter{    
    display: flex;
    flex-direction: column;
    grid-area: section;
    transform: translateX(0);
    opacity: 1;
    transition: all 1.25s ease-in-out;
}

.spotlightImgFlexEnter{
    display: flex;
    flex-direction: column;
    grid-area: img;
    margin-right: 100px;
    transform: translateX(0);
    opacity: 1;
    transition: all 1.25s ease-in-out;
}



/*****************************************************
                KEY FEATURES STYLES
*****************************************************/
.keyfeatureGridContainer{
    padding: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: left;
    grid-template-areas:
        "title title title"
        "key1 key2 key3";
    text-align: center;
    align-items: stretch;
}

.keyfeatureTitle{
    grid-area: title;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.key1{
    grid-area: key1;
    padding: 0px 35px;
}

.key2{
    grid-area: key2;
    padding: 0px 35px;
}

.key3{
    grid-area: key3;
    padding: 0px 35px;
}



/*****************************************************
                ABOUT STYLES
*****************************************************/
.aboutGridContainer{
    padding: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: left;
    grid-template-areas:
        "section img"
}

.aboutSectionFlex{
    display: flex;
    flex-direction: column;
    grid-area: section;
}

.aboutImgFlex{
    display: flex;
    flex-direction: column;
    grid-area: img;
    transform: scaleX(-1);
    margin-left: 100px;
}



/*****************************************************
                CONTACT STYLES
*****************************************************/
.contactGridContainer{
    padding: 50px;
}

.contactTitle{
    text-align: center;
    margin-bottom: 50px;
}



/*****************************************************
                MEDIA QUERIES 
*****************************************************/
@media (min-width: 576px) {
    h4{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
  
@media (min-width: 768px) {
    h4{
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }

@media (min-width: 992px) {
    h4{
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }

  @media (min-width: 1200px) {
    h4{
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }