:root {
    --backgroundColorDefault: #D35473;
    --backgroundColorWhite: #fcfcfc;
    --descColorDefault: white;
    --descColorBlack: #343434;
}

.flexboxContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 50px 25px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    background-color: var(--backgroundColor);
    font-size: 16px;
}

.title{
    width: 100%;
    color: #FFC55A;
}

.keyfeatureTitle{
    font-size: 1.5rem;
}

.desc{
    font-size: 14px;
    color: var(--descColor);
    margin: 0;
    padding: 0;
}

.img{
    fill: var(--descColor)
}

@media (max-width: 767px) {

  }

@media (min-width: 768px) and (max-width: 1023px) {
    .keyfeatureTitle{
        font-size: 1rem;
    }

    .desc{
        font-size: .6rem;
    }

    .flexboxContainer{
        padding: 15px 15px;
    }
}
